<form>

<h2>Unified Form</h2>

<input type="hidden" name="redirect_to" value="<%= request.original_url %>">

<label for="cat_name">Name</label>
<input type="text" name="cat[name]" id="cat_name" value="<%=@cat.name%>">

<input type="radio" name="cat[sex]" id="cat_sex_female" value="F", checked="<%='checked' if @cat.sex == "F"%>">
<label for="cat_sex_female">Female</label>

<input type="radio" name="cat[sex]" id="cat_sex_male" value="M", checked="<%='checked' if @cat.sex == "M" %>">
<label for="cat_sex_male">Male</label>

<label for="cat_birth_date">Birth date</label>
<input name="cat[birth_date]" id="cat_birth_date" type="date", value="<%=@cat.birth_date%>">

<label for="cat_color">Coat color</label>
 <select name="cat[color]" id="cat_color", >
   <option value="brown">Brown</option selected="<%='selected' if @cat.color == "brown"%>">
   <option value="orange">Orange</option selected="<%='selected' if @cat.color == "orange"%>">
   <option value="black" >Black</option selected="<%='selected' if @cat.color == "black"%>">
   <option value="white">White</option selected="<%='selected' if @cat.color == "white"%>">
   <option value="grey">Grey</option selected="<%='selected' if @cat.color == "grey"%>">
   <option value="calico">Calico</option selected="<%='selected' if @cat.color == "calico"%>">
   <option value="tuxedo">Tuxedo</option selected="<%='selected' if @cat.color == "tuxedo"%>">
   <option value="tortoise shell">Tortoise Shell</option selected="<%='selected' if @cat.color == "tortoise shell"%>">
 </select>
 <br>

<label for="cat_description">Description</label>
 <input name="cat[description]" id="cat_description type="text", value = ""<%=@cat.description%>">

<input type= "submit" value = "Update Cat!">

</form>
