<h1>Cat</h1>

<h2><%=@cat.name%></h2>

<ul>
  <li>Sex:   <%=@cat.sex%></li>
  <li>Birth Date:  <%=@cat.birth_date%></li>
  <li>Color:   <%=@cat.color%></li>
  <li>Age:   <%=@cat.age%></li>
</ul>

<p><%=@cat.description%></p>

<li>  <a href="/cats/"> Back to All Cats </a></li>
